.first-content {
  position: relative;
  z-index: 999;
  img {
    margin: auto;
    display: flex;
    width: 100%;
  }

  .center {
    max-width: 898px;
    text-align: center;
    margin: auto;
    display: block;
    margin-top: -200px;

    h3 {
      font-size: 32px;
      font-weight: 400;
    }
    h1 {
      font-size: 96px;
      background: radial-gradient(#eff1ff, black 80%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      position: relative;
      background-position: 50% 75%;
      background-size: 100% 200%;
    }
    p {
      margin-top: 30px;
      font-size: 32px;
      color: #a1a1a6;
    }
    .price {
      margin-top: 45px;
      color: white;
    }
    .lecture {
      display: flex;
      align-items: center;
      color: #2997ff;
      gap: 10px;
      justify-content: center;
      margin-top: 45px;

      a {
        font-size: 21px;
        text-decoration: none;
        color: #2997ff;

        &:hover {
          text-decoration: underline;
        }
      }

      img {
        width: 25px;
      }
    }
  }
}
